.form-mdiv{
  display: flex;
  justify-content: center;
  background-image: radial-gradient(lightblue,white);
}
.err-msg-color{
  color: red;
}
.form-subdiv{
  background-image: linear-gradient(grey,pink);
  border: 1px solid grey;
  margin: 20px;
  padding: 20px;
  border-radius: 5%;
  box-shadow: 2px 2px 10px;
}
.form-subdiv button{
  width: 100px;
  background-color: blue;
  color: white;
}